<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<df_payment>
			<dragonpay>
				<currency>PHP</currency>
				<description>{store.domain} // {customer.name} // {order.id}</description>
				<description_rules>
					<locations>
						<merchant>
							<shown>1</shown>
						</merchant>
					</locations>
					<maxLength>
						<title>[Dragonpay] The maximum length of a payment description (the «description» parameter) is 128 characters.</title>
						<url>https://mage2.pro/t/4457</url>
						<value>128</value>
					</maxLength>
				</description_rules>
<!-- 2017-08-13
*) Param name: `txnid`
*) Param type and limitations: «Varchar(40)»
*) Reference: Chapter 5.2.1.1 «Request Parameters» (page 9) of the PDF documentation: https://mage2.pro/t/4259
@see \Dfe\Dragonpay\Charge::k_RequestId(): https://github.com/mage2pro/dragonpay/blob/0.1.4/Charge.php#L12-L20
-->
				<identification_rules>
					<max_length>40</max_length>
				</identification_rules>
				<requireBillingAddress>1</requireBillingAddress>
				<payment_action>authorize_capture</payment_action>
				<title>Dragonpay</title>
				<title_backend>Dragonpay</title_backend>
			</dragonpay>
		</df_payment>
        <payment>
            <dfe_dragonpay>
<!-- 2017-07-24
@used-by \Magento\Payment\Helper\Data::getMethodModelConfigName():
	protected function getMethodModelConfigName($code) {
		return sprintf('%s/%s/model', self::XML_PATH_PAYMENT_METHODS, $code);
	}
https://github.com/magento/magento2/blob/2.2.0-RC1.5/app/code/Magento/Payment/Helper/Data.php#L85-L92
-->
				<model>Dfe\Dragonpay\Method</model>
            </dfe_dragonpay>
        </payment>
    </default>
</config>