<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
		<section id='df_payment'>
<!-- 2015-09-25, 2017-10-22
Magento 2 is not capable to automatically order settings groups
in the backend «Stores» → «Configuration» left menu by alphabet.
To achieve such ordering, I use the following 2 rules to assign a `sortOrder` value to a settings group:
1) The 1-st and 2-nd digits of a `sortOrder` value
are the digits of the ordering number of the 1-st letter of the module's label in the English alphabet:
https://en.wikipedia.org/wiki/English_alphabet
2) The 3-rd and 4-nd digits of a `sortOrder` value
are the digits of the ordering number of the 2-nd letter of the module's label in the English alphabet.
===
An example:
A label is «Stripe».
The first letter is «S». It is the 19-nd letter of the English alphabet.
The second letter is «t». It is the 20-nd letter of the English alphabet.
So the `sortOrder` value is 1920. -->
			<group
				id='dragonpay'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='418'
				translate='label'
			>
				<label>Dragonpay</label>
				<dfExtension>Dfe_Dragonpay</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<field
					id='enable'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/dragonpay' target='_blank'>Dragonpay</a>» payment extension?]]></comment>
					<dfValidator>Dfe\Dragonpay\Validator\Currency</dfValidator>
					<label>Enable?</label>
				</field>
				<field
					id='title'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='text'
				>
					<comment><![CDATA[It is shown on the checkout screen.]]></comment>
					<depends><field id='enable'>1</field></depends>
					<label>Title</label>
					<validate>required-entry</validate>
				</field>
				<field
					id='test'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='3'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[]]></comment>
					<depends><field id='enable'>1</field></depends>
					<label>Test Mode?</label>
				</field>
				<field
					id='testMerchantID'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='4'
					translate='label'
					type='text'
				>
					<comment><![CDATA[<a href='https://mage2.pro/t/4260' target='_blank'>What is this?</a>]]></comment>
					<depends><field id='enable'>1</field><field id='test'>1</field></depends>
					<label>Test Merchant ID</label>
					<validate>required-entry</validate>
				</field>
				<field
					id='testPrivateKey'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='5'
					translate='label'
					type='obscure'
				>
					<label>Test Merchant Password</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/4260' target='_blank'>What is this?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends><field id='enable'>1</field><field id='test'>1</field></depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='liveMerchantID'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='6'
					translate='label'
					type='text'
				>
					<comment><![CDATA[<a href='https://mage2.pro/t/4260' target='_blank'>What is this?</a>]]></comment>
					<depends><field id='enable'>1</field><field id='test'>0</field></depends>
					<label>Live Merchant ID</label>
					<validate>required-entry</validate>
				</field>
				<field
					id='livePrivateKey'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='7'
					translate='label'
					type='obscure'
				>
					<label>Live Merchant Password</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/4260' target='_blank'>What is this?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends><field id='enable'>1</field><field id='test'>0</field></depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='webhook'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='8'
					translate='label'
					type='Df\Framework\Form\Element\Webhook'
				>
					<label>Postback URL</label>
					<comment><![CDATA[Report the «<b>Postback URL</b>» and «<b>Customer Return URL</b>» values to the Dragonpay support: <a href='mailto:sales@dragonpay.ph?subject=My «Postback URL» and «Customer Return URL»'>sales@dragonpay.ph</a> and then just wait for the support response because the URLs should be enabled manually, Dragonpay does not provide an automatic way to enable them.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='urlCustomerReturn'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='9'
					translate='label'
					type='Df\Payment\FE\CustomerReturn'
				>
					<label>Customer Return URL</label>
					<comment><![CDATA[Report the «<b>Postback URL</b>» and «<b>Customer Return URL</b>» values to the Dragonpay support: <a href='mailto:sales@dragonpay.ph?subject=Please set my «Postback URL» and «Customer Return URL»'>sales@dragonpay.ph</a> and then just wait for the support response because the URLs should be enabled manually, Dragonpay does not provide an automatic way to enable them.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='idPrefix'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='10'
					translate='label'
				>
					<label>Payment ID prefix</label>
					<comment><![CDATA[<p class='df-note'>This option allows you to define a prefix for the payment identificators (values of the <a href='https://mage2.pro/t/4259' target='_blank' title='«Dragonpay Online Payment - Merchant Payment Switch API» (Version 1.00, Jul 1, 2016)'><code>txnid</code></a> API parameter).</p>
<p class='df-note'>In the most cases you do not need any prefix and can leave this option empty.</p>
<p class='df-note'>But there are some (rare) cases</a> when your Dragonpay payment identifiers can potentially overlap with the previous ones:</p>
<ul class='df-note'>
<li>If you have changed (e.g., reset) your Magento order numeration scheme.</li>
<li>If you use a single Dragonpay merchant account for multiple shops.</li>
</ul>
<p class='df-note'>If Dragonpay encounters a payment identifier which has been already used for another payment, then it fails with the message: «<b>[112] Duplicate merchant txnid found</b>».</p>
<p class='df-note'>So to evade such situation you can define a prefix for the payment identifiers.</p>
<p class='df-note'>Please note that the full payment identifier length (prefix + order number) should be not greater than <a href='https://mage2.pro/t/4259' target='_blank' title='«Dragonpay Online Payment - Merchant Payment Switch API» (Version 1.00, Jul 1, 2016)'><b>40 characters</b></a>.</p>
]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					dfValues='CAD,PHP,USD'
					id='currency'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='11'
					translate='label'
					type='Df\Directory\FE\Currency'
				>
					<label>Payment Currency</label>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='description'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='12'
					translate='label'
					type='textarea'
				>
					<comment model='Df\Payment\Comment\Description'/>
					<depends><field id='enable'>1</field></depends>
					<label>Description</label>
<!-- 2016-07-01
We do not use the `validate-length` validator here
because the value can contain variables, so do not know the real length here.
2017-08-12 As I understand, the value is required because it is used in the request signature generation. -->
					<validate>required-entry</validate>
				</field>
				<field
					id='requireBillingAddress'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='13'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[If <b>checked</b>, Magento will require the billing address. It is the default Magento behavior.<br/>If <b>unchecked</b>, Magento will not require the billing address, and even will not ask for it.]]></comment>
					<depends><field id='enable'>1</field></depends>
					<label>Require the billing address?</label>
				</field>
				<field
					id='min_order_total'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='14'
					translate='label'
					type='text'
				>
					<comment><![CDATA[]]></comment>
					<depends><field id='enable'>1</field></depends>
					<label>Minimum Order Total</label>
					<validate>validate-number validate-greater-than-zero</validate>
				</field>
				<field
					id='max_order_total'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='15'
					translate='label'
					type='text'
				>
					<comment><![CDATA[]]></comment>
					<depends><field id='enable'>1</field></depends>
					<label>Maximum Order Total</label>
					<validate>validate-number validate-greater-than-zero</validate>
				</field>
				<field
					id='country_restriction'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='16'
					translate='label'
					type='select'
				>
					<depends><field id='enable'>1</field></depends>
					<label>Country Restriction</label>
					<source_model>Df\Config\Source\NoWhiteBlack</source_model>
				</field>
				<field
					id='countries'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='17'
					translate='label'
					type='Df\Framework\Form\Element\Multiselect'
				>
					<can_be_empty>1</can_be_empty>
					<comment><![CDATA[Customers from which countries can (or can not) use the method?]]></comment>
<!-- 2016-03-08
«The negative syntax for a backend config field <depends> condition» https://mage2.pro/t/329
-->
					<depends>
						<field id='enable'>1</field><field id='country_restriction' negative='1'>0</field>
					</depends>
					<label>Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
				</field>
			</group>
		</section>
	</system>
</config>